* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8FA;
}

html {
    scroll-behavior: smooth;
}
  
button, input[type="text"] {
    padding: 0.4em;
}

h1 {
  margin-bottom: 1.5em;
  font-weight: 430;
}  

h2 {
    font-weight: 430;
}

#results-list li h3 {
    font-weight: 420;
}

label {
  display: block;
}

input {
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-weight: 100;
    border-radius: 0.2em;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #3D5A7B;
    vertical-align: middle;
}

label::after {
    content: '\A';
    white-space: pre;
}
  
.style-button:hover {
    background-color: #72AEEF;
  }
  
.style-button {
    background-color: #3D5A7B;
    border: none;
    color: #FFFFFF;
    padding: 0.5em;
    cursor: pointer;
}
  
span {
  font-weight: lighter;
  letter-spacing: 0.3px;
  line-height: 1.5em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
li {
    padding: 10px;
}
  
a {
    text-decoration: none;
    color: #72AEEF;;
}

hr {
    margin-top: 2em;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #F6F8FA;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F8FA;
    padding: 2em;
}

.input-field {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
}

section.flexbox {
    display:inline-block;
}

div.results-list-container {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 65%;
    height: 200vh;
    overflow: scroll;
}

div.weather-container {
    float: right;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 34%;
}

.weather-info {
    margin-left: auto;
    margin-right: auto;
    background-image: url(weather.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 0.5em;  
}

.box-info {
    background-color: rgba(255, 255, 255, 0.397);
}

p {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

.heading, form {
    text-align: center;
}

form.search-field {
    background-image: url('banner_2.png');
    background-color: #ffffff; 
    height: 58vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 0.5em;
}

div.box-wrap {
    background-color: rgba(255, 255, 255, 0.548);
    position: absolute;
    padding:2em;
    border-radius: 0.5em;
    top:45%;
    left:37%;
}

label.search-term {
    font-weight: 400;
    font-size: 1.1em;
}

nav {
    position: fixed;
    right: 5%;
    top: 80%;
}

img.logo-search:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
}

img.result-img, .banner {
    padding: 0.3em;
    object-fit: cover;
    width: 100%;
}

.trail-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trail-img {
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

footer {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 2em;  
    text-align: center; 
    padding: 0.5em; 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;        /* Footer height */
  }