* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F6F8FA;
}

html {
    scroll-behavior: smooth;
}
  
button, input[type="text"] {
    padding: 0.4em;
}

h1 {
    margin-bottom: 1.5em;
    font-size: 2em;
    text-transform: uppercase;
}  

h2 {
    font-weight: 430;
}

#results-list li h3 {
    font-weight: 600;
}

label {
  display: block;
}

input {
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-weight: 100;
    border-radius: 0.2em;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #253B59;
    vertical-align: middle;
}

label::after {
    content: '\A';
    white-space: pre;
}
  
.style-button:hover {
    background-color: #77B5F3;
    color: black;
  }
  
.style-button {
    background-color: #253B59;
    border: none;
    color: #ffffff;
    padding: 0.5em;
    cursor: pointer;
}
  
span {
  letter-spacing: 0.3px;
  line-height: 1.5em;
  text-transform: none;
}

.style-list span:before {
    content: "  ";
    white-space: pre;
}

ul {
    padding: 0;
    margin: 0;
}
  
li {
    padding: 10px;
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #77B5F3;;
}

hr {
    margin-top: 2em;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #F6F8FA;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F8FA;
    padding: 2em;
}

.input-field {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
}

section.flexbox {
    display:inline-block;
}

div.results-list-container {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 65%;
    height: 160vh;
    overflow: scroll;
}

div.weather-container {
    float: right;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 34%;
}

.weather-info {
    margin-left: auto;
    margin-right: auto;
    background-image: url(weather.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 0.5em;  
}

.box-info {
    background-color: rgba(255, 255, 255, 0.397);
}

p {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

.heading, form {
    text-align: center;
}

form.search-field {
    background-image: url('banner.png');
    background-color: #ffffff; 
    height: 58vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 0.5em;
}

@keyframes bounceIn {
    1% {
      transform: scale(0.1);
      opacity: 0;
      animation-delay: 2s;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  .box-wrap {
    animation: bounceIn 3s;
  }

div.box-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    padding:2em;
    border-radius: 0.5em;
    top:45%;
    left:37%;
}

label.search-term {
    font-weight: 400;
    font-size: 1.2em;
}

nav {
    position: fixed;
    right: 5%;
    top: 80%;
}

img.logo-search:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
}

img.result-img {
    padding: 3em;
    object-fit: contain;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}  

.trail-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trail-img {
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 2em;  
    text-align: center; 
    padding-top: 1em; 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  @media only screen and (max-width: 767px) {
    div#js-top.container {
        padding: 0;
        max-width: 100%;
        background-color: #F6F8FA;
    }

    div.box-wrap {
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 0.5em;
        padding-top: 0.8em;
        border-radius: 0.5em;
        top: 40%;
        left: 25%;
        width: 50%;
    }

    h1 {
        font-size: 1.5em;
    }

    input {
        font-size: 0.8em;  
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }

    label.search-term {
        font-size: 1em;
    }

    .style-button {
        margin-bottom: 0.7em;
    }
    
    div.results-list-container {
        background-color: #FFFFFF;
        padding: 2em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        width: 100%;
        height: 160vh;
        overflow: scroll;
        display: block;
        width: 100%;
    }
    
    div.weather-container {
        display: block;
        background-color: #FFFFFF;
        padding: 2em;
        border-radius: 0.5em;
        width: 100%;
        margin: 3px 0px; 
        border-bottom: 1em;
    }


    img.trail-img {
        width: 100%;
        height: auto;
    }

  }

  @media only screen and (max-width: 1024px) {
    div#js-top.container {
        padding: 0;
        max-width: 98%;
        background-color: #F6F8FA;
    }

    div.box-wrap {
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        padding-top: 2em;
        border-radius: 0.5em;
        top: 40%;
        left: 30%;
        width: 35%;
    }

    div.results-list-container {
        padding-top: 0.5em;
        padding-left: 1em;
        margin-bottom: 1em;
    }
    
    div.weather-container {
        padding-top: 0.5em;
    }

  }