* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F6F8FA;
}

html {
    scroll-behavior: smooth;
}
  
button, input[type="text"] {
    padding: 0.5em;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}  

h2 {
    font-weight: 430;
}

#results-list h3 {
    font-weight: 900;
}

.style-label {
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 2;
}

label {
    display: block;
}

input {
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-weight: 100;
    border-radius: 0.2em;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #253B59;
    vertical-align: middle;
}

label::after {
    content: '\A';
    white-space: pre-wrap;
}
  
.style-button:hover {
    background-color: #77B5F3;
    color: black;
  }
  
.style-button {
    background-color: #253B59;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0.5em;
}
  
span {
    font-weight: lighter;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    text-transform: none;
}

.style-list span:before {
    content: "  ";
    white-space: pre;
}

ul {
    padding: 0;
    margin: 0;
}
  
li {
    padding: 10px;
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #77B5F3;;
}

hr {
    margin-top: 2em;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #F6F8FA;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F8FA;
    padding: 2em;
}

.input-field {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
}

section.flexbox {
    display:inline-block;
}

div.results-list-container {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 65%;
    height: 200vh;
    overflow: scroll;
}

div.weather-container {
    float: right;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.5em;
    width: 34%;
}

.weather-info {
    margin-left: auto;
    margin-right: auto;
    background-image: url(Assets/weather.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 0.5em;  
}

.box-info {
    background-color: rgba(255, 255, 255, 0.397);
}

p {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

.heading, form {
    text-align: center;
}

form.search-field {
    background-image: url('Assets/banner.png');
    background-color: #ffffff; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 0.5em;
}

@keyframes bounceIn {
    1% {
      transform: scale(0.1);
      opacity: 0;
      animation-delay: 2s;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}
  
  .box-wrap {
    animation: bounceIn 3s;
  }

form {
    display: flex;
    text-align: center;
}

div.box-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5em 2em 1em 2em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

label.search-term {
    font-weight: 400;
    margin-top: 0;
    font-size: 1.2em;
}

nav {
    position: fixed;
    right: 5%;
    top: 80%;
}

img.logo-search:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
}

img.result-img {
    padding: 3em;
    object-fit: contain;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}  

.trail-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trail-img {
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 2em;  
    text-align: center; 
    padding-top: 1em; 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  @media only screen and (max-width: 670px) {

    form {
        display: flex;
        text-align: center;
    }
    
    div.box-wrap {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0.5em;
        padding: 1em;
        margin-left: auto;   
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.9em;
        font-weight: bolder;
        margin-bottom: 0.6em;
    }

    h3 {
        font-size: 1.2em;
    }

    li.box-info {
        display: block;
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 0;
        height: 25vh;
    }

    p.weather-icon img {
        width: 30px;
        margin: 0;
        padding: 0;
    }

    input {
        font-size: 0.6em;  
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }

    label.search-term {
        font-size: 0.7em;
    }
    
    div.results-list-container {
        padding: 2em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .result {
        font-size: 0.8em;
        padding: 1.5em 0;
    }

    div.weather-container {
        padding: 1em;
        border-radius: 0.5em;
        width: 100%;
        margin: 3px 0px; 
        border-bottom: 1em;
    }

    img.trail-img {
        width: 50%;
        height: auto;
        margin-bottom: 1em;
    }

    .style-list {
        font-size: 0.6em;
    }

    .external-link {
        width: 6px;
    }

    .icon {
        width: 35px;
    }

    footer {
        font-size: 0.8em;
    }
  }

  @media only screen and (max-width: 1024px) {
    div#js-top.container {
        padding: 0;
        max-width: 98%;
        background-color: #F6F8FA;
    }

    .result {
        font-size: 1em;
        padding: 1.5em 0;
    }

    div.box-wrap {
        background-color: rgba(255, 255, 255, 0.8);
    }

    div.results-list-container {
        padding-top: 0.5em;
        padding-left: 1em;
        margin-bottom: 1em;
    }
    
    div.weather-container {
        padding-top: 0.5em;
    }
  }